# jinroプラグイン、マクロに関係しないファイルはignoreする
.gitignore
data/bgimage/
data/bgm/
data/fgimage/
data/image/
data/others/3d/
data/others/fonts/
data/others/test.js
data/others/testjs.js
data/others/plugin/for/
data/others/plugin/jinro/memo/*.drawio
data/others/plugin/uiparts_set/
data/others/plugin/drag-and-drop/
data/scenario/cg.ks
data/scenario/config.ks
data/scenario/make.ks
data/scenario/replay.ks
data/scenario/tyrano.ks

# ボイボ人狼のシナリオファイルはテンプレなどの一部のみ公開する
data/scenario/theater/p??/*
!data/scenario/theater/p01/e0x_c01_template.ks
!data/scenario/theater/p01/e01_c01.ks
!data/scenario/theater/p01/e01_c02.ks
!data/scenario/theater/p01/e02_c01.ks
!data/scenario/theater/p01/e02_c02.ks

data/sound/
data/system/
data/video/
tyrano/
old_tyrano/
index.html
readme.txt
studio_config.json
test.json
workspace.code-workspace
preview.css
preview.html
