# jinroプラグイン、マクロに関係しないファイルはignoreする
.gitignore
data/bgimage/
data/bgm/
data/fgimage/
data/image/
data/others/3d/
data/others/*.js
data/others/plugin/for/
data/others/plugin/jinro/memo/*.drawio
data/scenario/cg.ks
data/scenario/config.ks
data/scenario/make.ks
data/scenario/replay.ks
data/scenario/tyrano.ks
data/sound/
data/system/
data/video/
tyrano/
index.html
readme.txt
studio_config.json
test.json
workspace.code-workspace
