# jinroプラグイン、マクロに関係しないファイルはignoreする
tyrano/
index.html
readme.txt
studio_config.json
preview.css
preview.html
data/bgimage/
data/bgm/
data/fgimage/
data/image/
data/sound/
data/system/
data/video/
data/others/3d/
data/others/fonts/
data/others/plugin/uiparts_set/
data/others/plugin/drag-and-drop/
data/scenario/cg.ks
data/scenario/config.ks
data/scenario/make.ks
data/scenario/replay.ks
data/scenario/tyrano.ks

# ボイボ人狼のシナリオファイルはテンプレなどの一部のみ公開する
data/scenario/theater/p??/*
!data/scenario/theater/p01/e0x_c01_template.ks
!data/scenario/theater/p01/e01_c01.ks
!data/scenario/theater/p01/e01_c02.ks
!data/scenario/theater/p01/e02_c01.ks
!data/scenario/theater/p01/e02_c02.ks
