.left_button_window,.right_button_window,.center_button_window {
    background-color: rgba(255,255,255,0.82);
    border:solid 3px rgba(0,0,0,0.82);
    width:340px;
    padding: 0.2rem 0.2rem 0.2rem 0.2rem;
    border-radius: 20px 20px 20px 20px / 20px 20px 20px 20px;
}

.btn_voivo {
    position: relative;
    display: inline-block;
    padding: .5em .4em;
    background-color: #CCFFC7;
    color: #28332a;
    border-radius: 1.5em;
    border: none;
    box-shadow: none;
    box-sizing: border-box;
    transition: .15s ease-out;
}

.btn_voivo::after {
    position: absolute;
    content: "";
    background-color: none;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    border-radius: 1.5em;
    border: 3px solid #87AD8E;
    transition: .15s ease-out;
}

.btn_voivo:hover {
    background-color: #69876E;
}

.btn_voivo:hover::after {
    border: 1px solid #4C614F;
}

.btn_voivo:active {
    transform: scale(.96);
}

.vote_container {
    display: flex;
    flex-direction: row;
}

.vote_box {
    /* width: 256px; */
    height: 720px;
}

.vote_target_zundamon {
    background-color: #67ef65;
}

.vote_target_metan {
    background-color:#ef65ec;
}

.vote_target_tsumugi {
    background-color:#efe865;
}

.vote_target_hau {
    background-color:#65e3ef;
}

.vote_target_ritsu {
    background-color:#ef6a65;
}
